<app-layout>
  <h2 *ngIf="enterprise" class="title">{{ enterprise.name }} dynamics</h2>
  <div *ngIf="dataReady && indicators.length > 0" class="select-container">
    <mat-form-field>
      <mat-label>Select indicator</mat-label>
      <mat-select (selectionChange)="selectIndicator($event)">
        <mat-option
          *ngFor="let indicator of indicators"
          [value]="indicator._id"
        >
          {{ indicator.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="selectedIndicator && dataReady">
    <div *ngIf="valueArr.length > 0">
      <h3 class="indicator">{{ selectedIndicator.name }} chart</h3>
      <div class="currency-container">
        <p>Currency: &nbsp;</p>
        <select
          name="currency"
          [ngModel]="selectedIndicator.unit"
          (ngModelChange)="convertCurrency($event)"
          class="currency-select"
        >
          <option value="USD">USD</option>
          <option value="UAH">UAH</option>
          <option value="EUR">EUR</option>
        </select>
      </div>

      <app-chart [data]="valueArr" [labels]="dateArr"></app-chart>
    </div>

    <div *ngIf="valueArr.length === 0">
      <p>
        No data available for indicator:
        <a
          routerLink="/indicator-history/{{ selectedIndicator._id }}"
          class="link"
          >{{ selectedIndicator.name }}
        </a>
        . Add values to see dynamics.
      </p>
    </div>
  </div>

  <p *ngIf="loading">Loading indicators...</p>

  <p *ngIf="dataReady && indicators.length === 0">
    No indicators available for the enterprise:  <a
    routerLink="/indicators/{{ enterprise?._id }}"
    class="link"
    >{{ enterprise?.name }}
  </a>
  . Add data to see dynamics.
  </p>
</app-layout>
