.title,
.indicator {
  margin: 0;
  color: #2e5ba5;
}

.indicator {
  width: 100%;
  text-align: center;
}

.select-container {
  margin-top: 20px;
}

.currency-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.currency-select {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 7px;
  border-bottom: 1px solid #535558;
  /* color: #4c4f52; */
  background-color: #dfe3ec;
  border-top: none;
  border-left: none;
  border-right: none;
}

.currency-select:hover {
  cursor: pointer;
  background-color: #d0d4db;;
}

.currency-select:focus {
  border-bottom: 2px solid #2961bc;
  outline: none;
} 

.link {
  color: #2e5ba5;
  text-decoration: none;
  font-weight: bold;
}

.link:hover{
  text-decoration: underline;
}