<app-layout>
  <h2 *ngIf="enterprise" class="title">{{ enterprise.name }} dynamics</h2>
  <div *ngIf="indicators.length > 0" class="select-container">
    <mat-form-field>
      <mat-label>Select indicator</mat-label>
      <mat-select (selectionChange)="selectIndicator($event)">
        <mat-option
          *ngFor="let indicator of indicators"
          [value]="indicator._id"
        >
          {{ indicator.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="selectedIndicator">
    <h3 class="title">{{ selectedIndicator.name }} chart</h3>
    <app-chart [data]="valueArr" [labels]="dateArr"></app-chart>
  </div>

  <p *ngIf="indicators.length === 0">
    No indicators available for this enterprise.
  </p>
</app-layout>
