.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title,
mat-icon {
  margin: 0;
  color: #2e5ba5;
}

.rows:hover {
  background-color: #83aef475;
}

.column-sm {
  width: 10%;
}

.column-lg {
  width: 20%;
}

.column-md {
  width: 13%;
}

.cell-container {
  padding-top: 10px;
}

.name:hover {
  cursor: pointer;
  text-decoration: underline;
}
