.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.actions {
  width: 120px;
}

.title,
mat-icon {
  margin: 0;
  color: #2e5ba5;
}

.rows:hover {
  background-color: #83aef475;
}

.name:hover {
  cursor: pointer;
  text-decoration: underline;
}
